In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('movies 2016 watched.csv').dropna()

In [3]:
#dropping unwanted variables
df.drop(['Title','Description','Director','Actor'],axis=1,inplace=True)
df.head()

   Rank  Runtime   Genre  Rating  Metascore   Votes  Gross_Earning watched
0     2      123  Action     5.9       40.0  656097         325.10       Y
1     3      108  Action     8.0       65.0  958507         363.00       Y
2     4      115  Action     7.5       72.0  653299         232.60       Y
3     7      118  Action     7.6       72.0  194512           2.13       N
4     8      117  Action     6.5       60.0  215403         128.30       Y

In [4]:
import copy
df2=df.copy()
df2.head()

   Rank  Runtime   Genre  Rating  Metascore   Votes  Gross_Earning watched
0     2      123  Action     5.9       40.0  656097         325.10       Y
1     3      108  Action     8.0       65.0  958507         363.00       Y
2     4      115  Action     7.5       72.0  653299         232.60       Y
3     7      118  Action     7.6       72.0  194512           2.13       N
4     8      117  Action     6.5       60.0  215403         128.30       Y

In [5]:
#making data numerical
#convert non numerical to numerical using map from scikit
d={'Action':0,'Adventure':1,'Animation':2,'Biography':3,'Comedy':4,
  'Crime':5,'Drama':6,'Horror':7}
df2['Genre']=df2['Genre'].map(d)
d={'Y':1, 'N':0}
df2['watched']=df2['watched'].map(d)

df2.head()

   Rank  Runtime  Genre  Rating  Metascore   Votes  Gross_Earning  watched
0     2      123      0     5.9       40.0  656097         325.10        1
1     3      108      0     8.0       65.0  958507         363.00        1
2     4      115      0     7.5       72.0  653299         232.60        1
3     7      118      0     7.6       72.0  194512           2.13        0
4     8      117      0     6.5       60.0  215403         128.30        1

In [6]:
#separate features columns from target column
features=['Rank','Runtime','Genre','Rating','Metascore',
         'Votes','Gross_Earning']
X=np.array(df2[features])
Y=np.array(df2['watched'])

In [7]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix

In [8]:
gnb=GaussianNB()
XTRAIN,XTEST,YTRAIN,YTEST=train_test_split(X,Y)
gnb.fit(XTRAIN,YTRAIN)
YP=gnb.predict(XTEST)

In [9]:
print(confusion_matrix(YTEST,YP))
err=1-accuracy_score(YTEST,YP)
print("error= %7.6f" %err)

[[14  0]
 [ 6  3]]
error= 0.260870

In [10]:
#repeat naive bayes with 100 splits
errs=[]
nsplits=100
for split in range(nsplits):
    XTRAIN,XTEST,YTRAIN,YTEST=train_test_split(X,Y,test_size=.25)
    gnb.fit(XTRAIN,YTRAIN)
    YP=gnb.predict(XTEST)
    errs.append(1-accuracy_score(YTEST,YP))
print("%d Splits: Mean Error=%7.6f +/- %7.6f (95%%)"\
        %(nsplits,np.mean(errs),1.96*np.std(errs)))
print(confusion_matrix(YTEST,YP))

100 Splits: Mean Error=0.300870 +/- 0.165541 (95%)
[[10  0]
 [ 7  6]]

In [11]:
np.mean(errs)-1.96*np.std(errs), np.mean(errs)+1.96*np.std(errs)

(0.13532833933417296, 0.46641079110060957)